<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content= "width=device-width, initial-scale=1.0">
  <title>yopox</title>
  <script src="scroll.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <div id="title">yopox</div>
  <div>software developer @ JetBrains</div>
  <div>game dev hobbyist</div>
  <div><a rel="me" href="https://rivals.space/@yopox">—mastodon—</a></div>
  <div><a href="https://yopox.itch.io">—itch.io—</a></div>
  <div><a href="https://github.com/yopox">—github—</a></div>
  <div><a href="https://twitch.tv/yopox">—twitch—</a></div>
</header>

{{ for year in @root }}
<div class="year">
  {{ for project in year.projects }}
  {{ call game with project }}
  {{ endfor }}
  <div class="background"></div>
  <div class="strong abs">{ year.year }</div>
</div>
{{ endfor }}

</body>
</html>
